# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
build/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
*.jks
*.keystore

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Web
web/versions/

# Symbols
app.*.symbols

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3

# IDE
.vscode/
.idea/
*.iml
*.ipr
*.iws

# macOS
.DS_Store
